-- =====================================================
-- سیستم مدیریت انبار داروخانه
-- طراحی و توسعه توسط علیرضا حامد - پاییز 1404
-- نسخه 2.0 - ساختار ساده و بهینه
-- =====================================================

-- فعال کردن افزونه برای تولید UUID
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

-- 1. جدول کاربران (Users)
-- مدیریت کاربران سیستم با نقش‌های مختلف
CREATE TABLE public.users (
    id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
    username VARCHAR(50) UNIQUE NOT NULL,
    password_hash VARCHAR(255) NOT NULL,
    full_name VARCHAR(100) NOT NULL,
    role VARCHAR(20) NOT NULL CHECK (role IN ('admin', 'manager')), -- 'admin' for system admin, 'manager' for warehouse manager
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    is_active BOOLEAN DEFAULT true
);
COMMENT ON TABLE public.users IS 'جدول کاربران و سطوح دسترسی';

-- 2. جدول انبارها (Warehouses)
-- تعریف انبارهای مختلف در سیستم
CREATE TABLE public.warehouses (
    id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
    name VARCHAR(100) UNIQUE NOT NULL,
    location TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);
COMMENT ON TABLE public.warehouses IS 'لیست انبارهای فیزیکی';

-- 3. جدول تامین‌کنندگان (Suppliers)
-- تعریف شرکت‌ها یا افرادی که دارو را تامین می‌کنند
CREATE TABLE public.suppliers (
    id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
    name VARCHAR(150) UNIQUE NOT NULL,
    contact_person VARCHAR(100),
    phone VARCHAR(20),
    address TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);
COMMENT ON TABLE public.suppliers IS 'لیست تامین‌کنندگان دارو';

-- 4. جدول کاتالوگ داروها (Drugs)
-- این جدول فقط اطلاعات ثابت و عمومی دارو را نگهداری می‌کند
CREATE TABLE public.drugs (
    id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
    name VARCHAR(200) NOT NULL,
    description TEXT,
    package_type VARCHAR(50), -- نوع بسته بندی
    expire_date DATE NOT NULL, -- تاریخ انقضا در سطح واریانت دارو (هر تاریخ انقضا یک ردیف مستقل)
    image_url TEXT, -- URL تصویر دارو در Supabase Storage
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    UNIQUE(name, package_type, expire_date)
);
COMMENT ON TABLE public.drugs IS 'کاتالوگ مرکزی اطلاعات داروها (هر ردیف: دارو + نوع بسته بندی + تاریخ انقضا)';

-- 5. جدول موجودی انبار (Inventory)
-- این جدول قلب سیستم است و موجودی واقعی هر دارو در هر انبار را با تاریخ انقضای مشخص ثبت می‌کند
CREATE TABLE public.inventory (
    id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
    drug_id UUID NOT NULL REFERENCES public.drugs(id) ON DELETE RESTRICT,
    warehouse_id UUID NOT NULL REFERENCES public.warehouses(id) ON DELETE CASCADE,
    quantity INTEGER NOT NULL CHECK (quantity >= 0),
    batch_number VARCHAR(100),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    UNIQUE(drug_id, warehouse_id, batch_number)
);
COMMENT ON TABLE public.inventory IS 'موجودی دقیق هر واریانت دارو (دارو+بسته بندی+انقضا) در هر انبار';

-- 6. جدول رسیدهای ورود کالا (Receipts)
-- ثبت فرآیند دریافت کالا از تامین‌کننده
CREATE TABLE public.receipts (
    id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
    supplier_id UUID REFERENCES public.suppliers(id),
    destination_warehouse_id UUID NOT NULL REFERENCES public.warehouses(id),
    status VARCHAR(20) NOT NULL CHECK (status IN ('pending', 'completed')), -- 'pending' for in-transit, 'completed' for received
    notes TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    completed_at TIMESTAMP WITH TIME ZONE
);
COMMENT ON TABLE public.receipts IS 'سوابق رسید کالا از تامین‌کنندگان';

-- 7. جدول آیتم‌های رسید (Receipt Items)
-- جزئیات داروهای موجود در یک رسید
CREATE TABLE public.receipt_items (
    id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
    receipt_id UUID NOT NULL REFERENCES public.receipts(id) ON DELETE CASCADE,
    drug_id UUID NOT NULL REFERENCES public.drugs(id),
    quantity INTEGER NOT NULL CHECK (quantity > 0),
    batch_number VARCHAR(100)
);
COMMENT ON TABLE public.receipt_items IS 'لیست داروهای هر رسید (دارو شامل تاریخ انقضا است)';

-- 8. جدول حواله‌های بین انبار (Transfers)
-- ثبت فرآیند انتقال دارو بین دو انبار
CREATE TABLE public.transfers (
    id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
    source_warehouse_id UUID NOT NULL REFERENCES public.warehouses(id),
    destination_warehouse_id UUID NOT NULL REFERENCES public.warehouses(id),
    status VARCHAR(30) NOT NULL CHECK (status IN ('in_transit', 'completed', 'discrepancy')), -- 'in_transit': در راه, 'completed': رسید, 'discrepancy': مغایرت
    notes TEXT,
    created_by_user_id UUID NOT NULL REFERENCES public.users(id),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    completed_at TIMESTAMP WITH TIME ZONE,
    CHECK (source_warehouse_id <> destination_warehouse_id)
);
COMMENT ON TABLE public.transfers IS 'سوابق حواله و انتقال بین انبارها';

-- 9. جدول آیتم‌های حواله (Transfer Items)
-- جزئیات داروهای موجود در یک حواله
CREATE TABLE public.transfer_items (
    id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
    transfer_id UUID NOT NULL REFERENCES public.transfers(id) ON DELETE CASCADE,
    inventory_id UUID NOT NULL REFERENCES public.inventory(id), -- آیتم موجودی که در حال انتقال است
    quantity_sent INTEGER NOT NULL CHECK (quantity_sent > 0),
    quantity_received INTEGER CHECK (quantity_received >= 0),
    discrepancy_notes TEXT -- توضیحات برای مغایرت تعداد
);
COMMENT ON TABLE public.transfer_items IS 'لیست داروهای هر حواله و وضعیت دریافت';

-- افزودن داده اولیه برای کاربر ادمین کل
INSERT INTO public.users (username, password_hash, full_name, role) VALUES
('superadmin', '$2a$10$f5.iSLn8.jKR4l2m/b2yJ.c3B3G.wZ1z.0g8s2.C/1.B2.n5.o2mO', 'Super Admin', 'admin'); -- Password is 'A25893Aa'

-- غیرفعال کردن RLS برای سادگی در این مرحله
ALTER TABLE public.users DISABLE ROW LEVEL SECURITY;
ALTER TABLE public.warehouses DISABLE ROW LEVEL SECURITY;
ALTER TABLE public.suppliers DISABLE ROW LEVEL SECURITY;
ALTER TABLE public.drugs DISABLE ROW LEVEL SECURITY;
ALTER TABLE public.inventory DISABLE ROW LEVEL SECURITY;
ALTER TABLE public.receipts DISABLE ROW LEVEL SECURITY;
ALTER TABLE public.receipt_items DISABLE ROW LEVEL SECURITY;
ALTER TABLE public.transfers DISABLE ROW LEVEL SECURITY;
ALTER TABLE public.transfer_items DISABLE ROW LEVEL SECURITY;

-- نمایش پیام موفقیت‌آمیز
SELECT '✅ Schema V2.0 created successfully.' as status;
